extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let farmhandsid = toShow._id 
    - let farmhandsname = toShow.name 
    - let farmhandsheight = toShow.height
    - let farmhandsage = toShow.age 
    - let actionid = "/resource/farmhands/" + farmhandsid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='farmhandsAttr mr-3') Farmhands ID is: 
        div #{farmhandsid} 
      div.row 
        div(class='farmhandsAttr mr-3') Farmhands Name is: 
        div #{farmhandsname} 
      div.row 
        div(class='farmhandsAttr mr-3') Farmhands Height is: 
        div #{farmhandsheight} 
      div.row 
        div(class='farmhandsAttr mr-3') Farmhands Age is: 
        div #{farmhandsage} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the farmhands collection 
      window.location.href='/farmhands' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/farmhands' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }